.fight {
  flex-direction: column;

  &-dialog {
    display: flex;
    flex-wrap: wrap;

    &-content {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      text-align: left;
      width: 100%;
    }

    &-icon {
      .emoji {
        width: 200px;
      }
    }
  }
}

dialog.fight {
  text-align: center;
  width: 600px;
}