header {
  align-items: center;
  background-color: $secondary-bg;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}