.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  background-color: $progress-bg;
  border-radius: var(--bs-progress-border-radius);

  &-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    background-color: $primary;
    transition: all 0.3s linear;
  }
}