.card {
  border-radius: $border-radius;
  border: solid 1px $border-color;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  h3 {
    border-bottom: 1px solid #ccc;
    padding: 0 0 0.5rem;
    width: 100%;
  }
}