.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: $bg-color;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  color: $body-color;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-right: 0.75rem;
  padding: $border-radius .75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
}

.btn {
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: transparent;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  color: $button-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;

  &-full {
    width: 100%;
  }

  &-primary {
    background-color: $primary;
    color: $primary-inverted;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}