* {
  box-sizing: border-box;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

[hidden] {
  display: none !important;
}

p {
  margin: 0 0 1rem 0;
}